
<!doctype html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
    <title>CSS</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <script>
         function goIndex() {
            location.href = "/home"
        }
  </script>
  <body>
    <div class="video-container">
      <video muted autoplay loop>
        <source src="viedo" type="video.mp4">
      </video>
      <div class="title">
        <h1>동 네 어 때</h>
          <button onclick="goIndex()">시작하기</button>
      </div>
      <div class="desc">
        <p>현지 동네인들이 알려주는 동네정보</p>
      </div>
    </div>
  </body>
</html>


